body {
    font-family: sans-serif;
    min-height: 400px;
    background-image: url("https://s3.us-west-2.amazonaws.com/secure.notion-static.com/4ee84a73-ae15-4df4-b171-efa71bf3eadc/mountains2.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210922%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210922T195054Z&X-Amz-Expires=86400&X-Amz-Signature=956af02b77c557f39c8322ce3e795537dec3f9319215afa7672e2ab6ecdadfe6&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22mountains2.jpg%22");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    font-family: sans-serif;
    color: whitesmoke;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    color: white;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}